In [ ]:
5 types

1. Number - int, float,complex
2. Sequence - list, string, tuple, range
3. Map - Dictionary
4. Set - set,frozenset
5. Boolean - True, False

In [15]:
# input is a method to take the user value
# by default it is a string
a=int(input("Enter a value: "))
print(a)

ab=float(input("Enter a float value: "))
print(ab)

abc=complex(input("Enter a complex value: "))
print(abc)

# complex - real+imaginarypartj

Enter a value: 5
5
Enter a float value: 45
45.0
Enter a complex value: 2+3j
(2+3j)

In [11]:
a=str(input("Enter string value: "))
print(a)
print(type(a))

Enter string value: revanth
revanth
<class 'str'>

In [ ]:
# Types of Print statements in python
# System.out.println(); java language
# printf("format specifier",variablename) c language

# 1. print() statement general way
# 2. by using format literal (f)
# 3. by using format specifier
# 4. by using format method

In [69]:
# print(groupofvalues,sep=" ",end=" ")
# by default every group of values will be separated by space
# by default every print function end will be newline '\n'
print("Revanth","python")
print("hello world")

Revanth python
hello world

In [78]:
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
print("thevalueofais",a,"thevalueofb",b)
print(f"The value of a is {a} The value of b is {b}")

Enter a value: 5
Enter b value: 3
thevalueofais 5 thevalueofb 3
The value of a is5 the value of b is 3

In [80]:
a="revanth"
b="hello world"
# This is revanth hello world
print(f"This is {a} {b}")

This is revanth hello world

In [84]:
# by using format specifiers
# print("format specifier" %(group of values))
a=10
b=20
print("%d %d" %(a,b))

10 20

In [ ]:
# Types of operators
1. Arthimetic - +, -, *, / , %, //(floor division) , **(exponentiation)
2. Relational - > < >= <= == !=
3. Assignment - +=, -= *= /= //= %= **=
4. Logical  - and or not
5. Bitwise -  & , | ~ ^
# 6. unary operators in python does not support
# a++, ++a, --a, a--
# a++, ++a - a=a+1 a+=1
# a--, --a - a=a-1 a-=1
# python does not support ternary operator
****6. Membership operators (in, not in)
7. identity operators (is , is not)

In [ ]:
Take two values from the user integers a,b
Perform Arthimetic operations
2. Relational Operations
3. Assignment operations 

and print the each individual result using format literals

In [86]:
a=18
print("Eligible" if a>18 else "not Eligible")

not Eligible

In [119]:
# //(floor division) , **(exponentiation)
# division print the value as a decimal value
print(200//30)

# print(a**b) a power of b
print(2**3)

6
8

In [123]:
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
print(f" Addition: {a+b}")
print(f"Subtraction: {a-b}")
print(f"Multiplication: {a*b}")
print(f"Division: {a/b}")
print(f"Modulus: {a%b}")
print(f"Floor division: {a//b}")
print(f"Exponentiation: {a**b}")
print(f"Greater than: {a>b}")
print(f"Less than: {a<b}")
print(f"Greater than or equals to: {a>=b}")
print(f"less than or equals to: {a<=b}")
print(f"not equals to: {a!=b}")
print(f"equals to: {a==b}")
a+=3
# a=a+3
print(f"+=: {a}")
b-=1
# b=b-1
print(f"-=: {b}")
a*=4
# a=a*4
print(f"*=: {a}")
a/=2
# a=a/2
print(f"/=: {a}")
a%=1
print(f"%=: {a}")
a//=1
# a=a//1
print(f"//=: {a}")
a**=2
# a=a**2
print(f"**=: {a}")

Enter a value: 10
Enter b value: 2
 Addition: 12
Subtraction: 8
Multiplication: 20
Division: 5.0
Modulus: 0
Floor division: 5
Exponentiation: 100
Greater than: True
Less than: False
Greater than or equals to: True
less than or equals to: False
not equals to: True
equals to: False
+=: 13
-=: 1
*=: 52
/=: 26.0
%=: 0.0
//=: 0.0
**=: 0.0

In [ ]:
# and if both conditions are true the output is true
# or if anyone conditions are the true the output is true
# not the reverse of the input

In [135]:
a=bool(input("Enter true of false: "))
print(a)

Enter true of false:
False

In [158]:
# bit wise
# & | ^ ~ << >>
# xor -> 1 0 - 1
#        0 1 - 1
#        0 0 - 0
#        1 1 - 0
print(20>>2)
# 101
# 10
# 100
print(5<<3)
# 101000
# # 111
# 010
# 101

5
40

In [ ]:
# Member ship operator(in , not in)
# identity operator

In [7]:
#membership operators are used to check whether the number is present in the sequence or not
l='revanth'
print('z' not in l)

True

In [24]:
# identity operators (is, is not)
# it is used to check whether the two objects present in the same
# memory allocation
a="revanth"
b="revanth"
print(a,b)
print(id(a))
print(id(b))
print(a is b)

revanth revanth
2444419739632
2444419739632
True

In [4]:
# x +1
print(~10)
# negation is doing 2s complement

# -(2+1)

-11

In [26]:
# int, float, complex
a=10
b=244.5
c=3+2j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# What features of python
# Variables
# datatypes 
# Types of print statements
# Operators

In [ ]:
# control flow statements
flow of statements based on a condition
Executing block of statements based on a condition
# flow of execution of statements

In [ ]:
Control flow statements 
1. Conditional Statements -> executing a block of statements only once
2. Looping Statements -> iterating a block of statements based on condition(multiple times)
3. Jumping Statements -> Breaking of Flow the execution

In [ ]:
1. conditional statements
    1. if statement
    2. if else statements
    3. elif statements
    4. nested if
    5. nested elif
    6. match (3.1 versions onwards)
# switch case does not support in python

In [ ]:
a=int(input("Enter a integer : "))
b=int(input("Enter b integer: "))
if a>18 and b<10:
    print(a,"revanth","world","172-A")
    print(b)
# {} - sets, dictionary

Enter a integer : 70

In [3]:
print("revanth","world",sep="@")

revanth@world

In [1]:
# if else
a=int(input("Enter a integer : "))
b=int(input("Enter b integer: "))
if a>18 and b<10:
    print(a,"revanth","world","172-A")
    print(b)
else:
    print("Enter correct values: ",sep="@")

Enter a integer : 20
Enter b integer: 11
Enter correct values:

In [16]:
print(5+2)

7

In [15]:
# # write a python program to implement grades of student based on marks

# 91-100 grade -'A'
# 80-90 grade -'B'
# 70-79 grade -'C'
# 60-69 grade -'D'
# 50-59- GRADE- 'E'  USE LOGICAL AND OPERATOR
# BELOW 49 HE SHOULD FAIL

In [21]:
# this is a program
''' this is a program'''

' this is a program'

In [ ]:
c language- > to define the external user the block of code 
 # // /* */
    
python ->
single line comment - #
multi line comment - ''' '''

In [ ]:
# elif ladder
if condition1:
    block of statements
elif condition2:
    block of statementss
elif condition3:
    block of statementss
elif condition4:
    block of statementss
elif condition5:
    block of statementss
else:
    else block of statements

In [ ]:
2. looping statements
    1. for loop
    2. while loop

In [ ]:
3. Jumping statements
    1. break
    2. continue
    3. pass

In [ ]:
# while Loop 
# for loop

if 
if else
elif 
elif ladder
match

In [ ]:
# for loop, while loop

In [ ]:
# while condition:
#     statements
#     updation

In [ ]:
while - these are iterative block of statements executed untill the condition is failed

while condition:
    statement1
    statement2
    statement3
    ---------
    updation statement

In [1]:
a=10
while a==10:
    print(a)
    break

10

In [2]:
# 1 2 3 4 5 6 7 8 9 10
a=1
while a<=10 or a<0:
    print(a,end=" ")
    a-=3
#     a=a-3 = a=1-3 = -2

In [21]:
# Palindrome reverse of a number 
# 121 = 121
# 323=323
# 141 =141

a=int(input("Enter a number: "))
temp=a
sum1=0
while temp>0:
    rem=temp%10
    sum1=sum1*10+rem
    temp=temp//10
return sum1==a
# 4th iteration
# sum1=121 temp=0
# while temp>0 > false

Enter a number: 1223
3221

In [16]:
s=input("Enter a value: ")
print(s==s[::-1])

Enter a value: 121
True

In [12]:
# for loop
3%10

3

In [17]:
# for loop
# for(initilization,condition,updation){
    
# }
# for(i=0;i<6;i++){
#     print(i)
# }
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [32]:
n=6
for i in range(1,11):
    print(n*i,end=" ")
# use format literal print statement
a=10
b=20
print()
print(f"{a}*{b}={a*b}")
# 10*1=10
# 10*2=20
# 10*3=30
# -------
# 10*10 =100

6 12 18 24 30 36 42 48 54 60
10*20=200

In [25]:
# for(int i=5;i<2;i++){
#     print(i)
# }
for i in range(5,2,-1):
    print(i,end=" ")
# startvalue<endvalue in case of +ve updations
# startvalue>endvalue in case of -ve updations

5 4 3

In [11]:
# range() it is used to print some values from specific values (starting,endingvalue)
# 0 to 10 
# 1 to 20 
# 30 to 50
# range(startingvalue,endingvalue,updatingvalue)
# by default the updating value will be +1
# by default  the starting value will be 0
for i in range(0,5,1):
    print(i,end=" ")

0 1 2 3 4

In [10]:
n=5
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [54]:
for i in range(10,30,10):
    print(i,end=' ')

10 20

In [66]:
n=int(input("Enter a value: "))
for i in range(n):
    if i==3:
        break
    print(i,end=" ")

Enter a value: 10
0 1 2

In [59]:
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [68]:
sum1=0
for i in range(3):
    sum1=sum1+i
print(sum1)

3

In [8]:
for _ in range(6):
    print("revanth")

revanth
revanth
revanth
revanth
revanth
revanth

In [ ]:
factorial 
5 = 5*4*3*2*1
n*(n-1)*(n-2)*(n-3)*(n-4)-----
5*(4)*(3)*(2)*(1)= 120

In [43]:
# Calculate factorial of a given number
# take one input as a variable
n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

5
120

In [38]:
# 1 * 1 = 1
# 1 * 2 = 2
# 1 * 3 = 3
n=int(input("Enter a number"))
for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

Enter a number8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [3]:
Take the input from the user
Ex: n=5
    range values= [1,2,3,4,5,6,7,8,9,10]
    output should be [1,2,"Fizz",4,"Buzz","Fizz",7,8,"Fizz","Buzz"]
if i is divisible by 3 and 5. - "FizzBuzz"
if i is divisible by 3.  - "Fizz"
if i is divisible by 5. - "Buzz" 
else print i

In [4]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4